@import url(base.css);

@font-face {
    font-family: OpenSans;
    src: url(../Fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans Bold;
    src: url(../Fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans Italic;
    src: url(../Fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: OpenSans Semibold;
    src: url(../Fonts/OpenSans-Semibold.ttf);
}

html {
    font-size: 62.5%;
    font-family: OpenSans;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 13px;
}

:root {
    --main-color: #03ae66;
    --bgc-menu-sidebar: #24344b;
    --btn-green-hover: #02bf70;
    --bgc-active-menu-sidebar: #404f64;
    --active-sidebar: #0dd469;
    --line-gridpanel-color: #d5d8e6;
    --header-gridpanel-color: #f5f6fa;
    --overlay-color: #101114a0;
    --toast-success: #4ba25d;
    --toast-error: #ed6d68;
    --toast-warning: #e7bd40;
    --toast-notification: #4097e4;
    --focus-border-color: #4cb050;
}

.not-allowed {
    cursor: not-allowed !important;
}

input[type="date"],
input[type="time"] {
    font-family: OpenSans;
    font-size: 13px;
}

.popper__arrow {
    display: none !important;
}

.dcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
.el-checkbox__inner {
    --el-checkbox-input-width: 16px;
    --el-checkbox-input-height: 16px;
}

.el-checkbox__inner::after {
    border-radius: 1px;
    height: 8px !important;
    width: 3px !important;
} */